*.o
*.exe
*.bin
*.dll
*.csv
*.json
*.mpf
*.zip



data/
backup/
Backup/

docs/cloud_link.txt
docs/old
docs/nc_code_doc
docs/prompts
docs/manuals/
docs/graphics


track_visualization/freeglut_test
track_visualization/pyplot
track_visualization/opengl/Backup
src/muParser
flex/_backup
