*.o
*.exe
*.bin
*.dll

*.csv
*.json

*.zip

*.output
*.tab.*
*.yy.*

*.mpf
*.spf
*.nc

data/
backup/
Backup/

docs/cloud_link.txt
docs/old
docs/nc_code_doc
docs/prompts
docs/manuals/


track_visualization/freeglut_test
track_visualization/pyplot
track_visualization/opengl/Backup
src/muParser
flex/_backup
