*.exe
*.bin
*.dll
*.csv
*.json
*.mpf
*.zip


img/
data/
backup/
Backup/
docs/old
docs/nc_code_doc
docs/cloud_link.txt
docs/Laptop
docs/manual/
track_visualization/freeglut_test
track_visualization/pyplot
track_visualization/opengl/Backup
src/muParser
flex/_backup
